Repository gravity-ui/components, changes with the owners that CODEOWNERS names for each.
All owners: @amje, @ValeraS, @korvin89, @KirillDyachkovskiy, @ogonkov, @Marginy605, @Avol-V, @niktverd, @NikitaCG, @darkgenius

feat: use useUniqId hook
  package-lock.json
  package.json
  src/components/FilePreview/FilePreview.tsx
  src/components/FilePreview/FilePreviewAction.tsx
  src/components/FilePreview/__tests__/FilePreview.test.tsx
Owners: @amje, @ValeraS, @korvin89, @KirillDyachkovskiy

feat: fix test
  src/components/FilePreview/__tests__/FilePreview.test.tsx
Owners: @KirillDyachkovskiy

feat: remove magic number from styles
  src/components/FilePreview/FilePreview.scss
Owners: @KirillDyachkovskiy

feat: remove id property
  package-lock.json
  package.json
  src/components/FilePreview/FilePreview.tsx
Owners: @amje, @ValeraS, @korvin89, @KirillDyachkovskiy

feat: fix minor issues
  src/components/FilePreview/FilePreview.scss
  src/components/FilePreview/FilePreview.tsx
  src/components/FilePreview/FilePreviewAction.tsx
  src/components/FilePreview/README.md
  src/components/FilePreview/__stories__/FilePreview.stories.tsx
  src/components/FilePreview/__tests__/FilePreview.test.tsx
  src/components/FilePreview/index.ts
  src/components/index.ts
Owners: @KirillDyachkovskiy, @amje, @ValeraS, @korvin89

feat: refused the Card component
  src/components/FilePreview/FilePreview.scss
  src/components/FilePreview/FilePreview.tsx
Owners: @KirillDyachkovskiy

feat: provide extra-props to button
  src/components/FilePreview/FilePreview.scss
  src/components/FilePreview/FilePreview.tsx
  src/components/FilePreview/FilePreviewAction.tsx
Owners: @KirillDyachkovskiy

docs: refactor store badge readme for landing repo usage
  src/components/StoreBadge/README.md
Owners: @NikitaCG

docs: refactor store badge readme for landing repo usage (#88)
  src/components/StoreBadge/README.md
Owners: @NikitaCG

fix: prevent overflow and add ability to scroll text in story card
  src/components/Stories/components/StoriesLayout/StoriesLayout.scss
Owners: @darkgenius

fix(Stories): prevent overflow and add ability to scroll huge text in story card (#89)
  src/components/Stories/components/StoriesLayout/StoriesLayout.scss
Owners: @darkgenius

fix: fixed notification's actions changing height when they disappear
  src/components/Notification/Notification.scss
  src/components/Notification/Notification.tsx
  src/components/Notifications/Notifications.scss
  src/components/Notifications/Notifications.tsx
  src/components/Notifications/__stories__/Notifications.stories.tsx
Owners: @amje, @ValeraS, @korvin89

fix: fixed active styles
  src/components/Notification/Notification.scss
  src/components/Notifications/NotificationWrapper.tsx
  src/components/Notifications/Notifications.scss
Owners: @amje, @ValeraS, @korvin89

fix(Notifications): fixed notification's actions changing height when they disappear (#91)
  src/components/Notification/Notification.scss
  src/components/Notification/Notification.tsx
  src/components/Notifications/NotificationWrapper.tsx
  src/components/Notifications/Notifications.scss
  src/components/Notifications/Notifications.tsx
  src/components/Notifications/__stories__/Notifications.stories.tsx
Owners: @amje, @ValeraS, @korvin89

chore(main): release 2.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

chore(main): release 2.1.1 (#90)
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

feat(Notifications): remove redutant gap
  src/components/Notification/Notification.tsx
Owners: @amje, @ValeraS, @korvin89

feat(Notifications): minor
  src/components/Notification/Notification.tsx
Owners: @amje, @ValeraS, @korvin89

feat(Notifications): remove redutant gap (#92)
  src/components/Notification/Notification.tsx
Owners: @amje, @ValeraS, @korvin89

chore(main): release 2.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

chore(main): release 2.2.0 (#93)
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

feat: fix readme
  src/components/FilePreview/FilePreview.scss
  src/components/FilePreview/README.md
  src/components/FilePreview/__tests__/FilePreview.test.tsx
Owners: @KirillDyachkovskiy

feat: notifications: remove tinygesture
  package-lock.json
  package.json
  src/components/Notification/HorizontalSwiper/HorizontalSwiper.ts
  src/components/Notification/NotificationWithSwipe.tsx
Owners: @amje, @ValeraS, @korvin89

feat(notifications): remove tinygesture (#94)
  package-lock.json
  package.json
  src/components/Notification/HorizontalSwiper/HorizontalSwiper.ts
  src/components/Notification/NotificationWithSwipe.tsx
Owners: @amje, @ValeraS, @korvin89

chore(main): release 2.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

chore(main): release 2.3.0 (#95)
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

fix: remove bem-cn-lite usage
  src/components/PlaceholderContainer/__stories__/PlaceholderContainerShowcase.tsx
  src/components/StoreBadge/StoreBadge.tsx
  src/components/utils/cn.ts
Owners: @Marginy605, @NikitaCG, @amje, @ValeraS, @korvin89

chore: bump `@gravity-ui/uikit` to 5.7.0
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

fix: remove bem-cn-lite usage (#96)
  src/components/PlaceholderContainer/__stories__/PlaceholderContainerShowcase.tsx
  src/components/StoreBadge/StoreBadge.tsx
  src/components/utils/cn.ts
Owners: @Marginy605, @NikitaCG, @amje, @ValeraS, @korvin89

CODEOWNERS:

* @amje @ValeraS @korvin89
/src/components/FilePreview @KirillDyachkovskiy
/src/components/FormRow @ogonkov
/src/components/PlaceholderContainer @Marginy605
/src/components/PromoSheet @Avol-V
/src/components/SharePopover @niktverd
/src/components/StoreBadge @NikitaCG
/src/components/Stories @darkgenius
